.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    color: #4C6661;
    margin-right: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a i {
    font-size: 2rem !important;
}

.social-links a:hover {
    color: #C1D2CB;
    transform: scale(1.5);
}