<h2> Onde nos encontrar </h2>

<p>
    Nossa clínica está localizada na sala 214, Torre Sul, no Edifício Harmony Premium Business, na Avenida Humberto Monte, 2929 - Pici,
    Fortaleza - CE, CEP 60440-593.
</p>

<app-map></app-map>

<h2 style="margin-top: 5px;"> Nossas redes sociais </h2>

<div class="social-links">
    <!-- <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a> -->
    <a href="https://www.instagram.com/clinicacontactus/" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5585992734914&text=Olá, gostaria de mais informações!" target="_blank" aria-label="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>