<div class="conteudo">

  <div>
    <h2> Onde nos encontrar </h2>

    <p>
      Nossa clínica está localizada na <strong>sala 214, Torre Sul, Edifício Harmony Premium Business</strong>, Avenida
      Humberto Monte, 2929 - Pici,
      Fortaleza - CE, CEP 60440-593.
    </p>
  </div>

  <app-map></app-map>

  <div>
    <h2> Nossas redes sociais </h2>

    <div class="social-links">
      <a href="https://www.instagram.com/clinicacontactus/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5585992734914&text=Olá, gostaria de mais informações!"
        target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>

</div>