<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let url of urls; let i = index">
            <img [src]="url.photoUrl" [alt]="'Foto da clinica'" (click)="openLightbox(i)" />
        </div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<div class="modal" *ngIf="isModalOpen" (click)="closeImage()">
    <div class="modal-content">
        <img [src]="selectedImage" [alt]="'Imagem ampliada'" />
    </div>
</div>