* {
    color: white !important;
}

.container {
    gap: 30px;
}

.opcoes {
    padding: 15px;
}

.footer-logo {
    height: 110px;
    width: 110px;
    margin-bottom: 5px;
}

footer {
    background-color: #4C6661;
    color: white !important;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
    margin-top: 30px;
    border-top: 1px solid #4C6661;
}

footer a {
    color: #3fd72b !important;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

footer a:hover {
    color: #C1D2CC;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    color: white !important;
    margin: 0 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a i {
    display: inline-block;
    color: rgb(255, 255, 255) !important;
    font-size: 2rem !important;
    margin-bottom: 20px !important;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover i {
    transform: scale(1.5);
    color: #139e6e !important;
}

@media (max-width: 768px) {
    footer {
        padding: 1rem 0;
        font-size: 0.9rem;
    }

    footer a {
        display: block;
        margin: 0.5rem 0;
    }

    .social-links {
        margin-top: 0.5rem;
    }
}