footer {
    background-color: #627766;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
    border-top: 1px solid #627766;
}

footer a {
    color: #3fd72b;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #C1D2CC;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    color: white;
    margin: 0 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a i {
    font-size: 2rem !important;
}

.social-links a:hover {
    color: #C1D2CC;
    transform: scale(1.5);
}


@media (max-width: 768px) {
    footer {
        padding: 1rem 0;
        font-size: 0.9rem;
    }

    footer a {
        display: block;
        margin: 0.5rem 0;
    }

    .social-links {
        margin-top: 0.5rem;
    }
}