<footer>
    <p>&copy; Clínica Contactus. Todos os direitos reservados.</p>
    <p>CNPJ: AGUARDANDO</p>
    <nav>
      <a routerLink="/">Quem somos</a>
      <a routerLink="/profissionais">Nossos especialistas</a>
      <a routerLink="/servicos">Serviços</a>
      <a routerLink="/localidade">Onde nos encontar</a>
    </nav>
    <div class="social-links">
      <!-- <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a> -->
      <a href="https://www.instagram.com/clinicacontactus/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5585992734914&text=Olá, gostaria de mais informações!" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </footer>
  