.custom-navbar {
    background-color: #ECDFD6;
    padding: 1rem 1.5rem;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    color: #627766;;
    text-decoration: none;
}

.navbar-logo {
    width: 270px;
    height: 110px;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #627766;;
    font-weight: 500;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #1a4e45;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* @media (max-width: 768px) {
    .navbar-brand span {
        display: none;
    }
} */