<app-header (navigateToSection)="scrollToSection($event)"></app-header>
<div class="page-container">
    <div class="content-wrapper">

        <div class="container">
            <div style="padding-top: 90px;" id="quem-somos">
                <app-home></app-home>
            </div>

            <div id="profissionais">
                <app-profissionais></app-profissionais>
            </div>

            <div id="servicos">
                <app-services></app-services>
            </div>

            <div id="localidade">
                <app-localidade></app-localidade>
            </div>
        </div>

        <app-faq-dropdown></app-faq-dropdown>

    </div>

    <app-footer></app-footer>

    <a href="https://api.whatsapp.com/send?phone=5585992734914&text=Olá, gostaria de mais informações!"
        class="whatsapp-float" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>