.page-container {
    display: flex;
    flex-direction: column;
    background-color: #E8E0D6;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff; 
    width: 100% !important;
    z-index: 10000 !important;
    box-shadow: 0 4px 2px -2px gray !important;
    margin-bottom: 5px !important;
}

.content-wrapper {
    flex: 1;
    margin: 20px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20%;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.whatsapp-float:hover {
    background-color: #128c7e;
}

@media (max-width: 768px) {
    .whatsapp-float {
        width: 60px;
        height: 60px;
        font-size: 25px;
        right: 15px;
    }
}