.slider-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.slider {
    display: flex;
    gap: 16px;
    padding: 5px;
    margin: 5px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: start;
    min-height: 310px;
    min-width: 270px;
    background: #c1d2cc89;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    /* min-height: 180px;
    min-width: 150px; */
    /* max-height: 180px;
    max-width: 180px; */
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.btn-conhecer {
    bottom: 0;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    background-color: #4C6661;
}