@import "~leaflet/dist/leaflet.css";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px !important;
    color: #4C6661;
}

p {
    font-family: 'Montserrat', sans-serif !important;
    color: #4C6661 !important;
}

h2 {
    font-size: 30px !important;
    color: #4C6661 !important;
    font-family: 'Montserrat', sans-serif !important;
}